<%- include("../partials/header") %>

    <header class="jumbotron">
        <div class="container">
            <h1 class="display-4" style="text-align: center;" id="bepltitle">( Beautiful Places <i class="fas fa-sm fa-camera-retro"></i> )</h1>
            <p class="lead" style="text-align: center;" id="bepldesc">Share awesome places from all over the world! <i class="fas fa-globe-asia"></i></p>
            <p style="text-align: center;">
                <a class="btn btn-primary btn-lg" href="/place/new"><i class="fas fa-plus"></i> Add New Place</a>
            </p>
        </div>
    </header>



    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% place.forEach(function (place) { %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <a href="/place/<%= place._id %>"><img class="card-img-top" src="<%= place.image %>" alt="<%= place.name %>"></a>
                    <div class="card-body">
                        <h3 class="card-title"><%= place.name %></h3>
                        <p class="card-text"><%= place.location %></p>
                        <div>
                            <span class="badge badge-light"><i class="fas fa-thumbs-up"></i> <%= place.likes.length %></span>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div> 

<%- include("../partials/footer") %>