<%- include("../partials/header") %>

    <div class="row">
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= place.image %>">
                <div class="caption-full">
                    <h4 class="pull-right"><%= place.location %></h4>
                    <h2><a><%= place.name %></a></h2>
                    <p><%= place.description %></p>
                    <br>
                    <p>
                        <em>Created By : <b><%= place.author.username %></b>, <%= moment(place.createdAt).fromNow() %></em>
                    </p>
                    <% if (currentUser && place.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-xs btn-warning" href="/place/<%= place._id %>/edit">Edit</a>
                        <form class="delete-form" action="/place/<%= place._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/place/<%= place._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% place.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p>
                                <%= comment.text %>
                            </p>
                        <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <a class="btn btn-xs btn-warning" href="/place/<%= place._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form class="delete-form" action="/place/<%= place._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

<%- include("../partials/footer") %>